.header-rating {
  font-size: large;
  margin: auto;
  width: 90%;
  padding: 10px;
}
.form-rating {
  font-size: large;
  margin: auto;
  width: 90%;
  padding: 10px;
}

.modal-rate-movie {
  --color: var(--ion-color-tertiary);
  width: 100%;
}
