<ion-header>
  <ion-toolbar>
    <ion-title>Rating</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="form-rating" [formGroup]="form" (ngSubmit)="submit()">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
    ></formly-form>

    <ion-row>
      <ion-col>
        <ion-button
          color="medium"
          class="modal-rate-movie"
          type="button"
          (click)="options.resetModel()"
        >
          Cancel
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="tertiary" class="modal-rate-movie" type="submit"
          >Submit</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
