<ion-header>
  <ion-toolbar>
    <ion-title>New movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
    ></formly-form>

    <ion-row>
      <ion-col>
        <ion-button color="dark" (click)="back()" class="button-add-movie">
          Back
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          color="medium"
          class="button-add-movie"
          type="button"
          (click)="options.resetModel()"
        >
          Reset
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="button-add-movie" type="submit">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
