ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-label {
  margin-top: 5px;
  margin-bottom: 5px;
}

ion-item h2 {
  font-weight: 600;
  margin: 0;
  margin-left: 15px;
}

ion-item p {
  margin-left: 15px;
  display: block;
  width: 95%;
}

ion-item .year {
  color: var(--ion-color-primary);

  display: flex;
}

ion-item .star {
  margin-left: 3px;
  color: var(--ion-color-tertiary);
}
ion-item .rate {
  color: var(--ion-color-tertiary);
  display: flex;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 8px;
  font-weight: normal;
}

ion-item ion-note.md {
  margin-right: 14px;
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: bold;
}
