ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-label {
  margin-top: 5px;
  margin-bottom: 5px;
}

ion-item h2 {
  color: var(--ion-color-danger);
  font-weight: 600;
  margin: 0;
  margin-left: 15px;
}

.year {
  display: inline-block;
  vertical-align: middle;
}

.star {
  display: inline-block;
  margin-top: 7px;
  margin-left: 5px;
  vertical-align: middle;
  color: #ff9100;
}

.rate {
  font-size: 15px;
  margin-top: 15px;
  display: inline-block;
  vertical-align: middle;
  color: #ff9100;
}
